<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>-->

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="Programmer">
        <register type="UnityIOCDemo.IProgrammer,UnityIOCDemo"  mapTo="UnityIOCDemo.CSharp,UnityIOCDemo" name="CSharp"></register>
        <register type="UnityIOCDemo.IProgrammer,UnityIOCDemo"  mapTo="UnityIOCDemo.VB,UnityIOCDemo" name="VB"></register>
        <register type="UnityIOCDemo.IProgrammer,UnityIOCDemo"  mapTo="UnityIOCDemo.Java,UnityIOCDemo" name="Java"></register>
      </container>
    </containers>
  </unity>
</configuration>